.counter {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #080106;

}

.counter-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

}

.counter-text {
  color: #080106;
}

.counter-total {
  font-size: 48px;
  color: red;
  margin-left: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}


.button-counter {
  background-color: transparent;
  display: block;
  width: 100px;
  margin: 5px;
}

.button-clear {
  background-color: #7c5b70;
  display: block;
  width: 100px;
  margin: 5px;
  color: #fff;
}