.main {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../../image/bckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  padding: 20px 25% 20px;
}
.main-container {
  display: flex !important;
}

.chat-list {
  width: 500px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #7c5b70;
}

.no-chat {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.text {
  font-size: calc(2vmin + 10px);
  letter-spacing: 2px;
  color: #7c5b70;
}

.input {
  margin-bottom: 10px !important;
  background-color: #fff;
}

.group_btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border: 2px solid #7c5b70;
  outline-color: #7c5b70;
  width: 100%;
}

.btn-submit {
  background-color: #7c5b70;
  color: #fff;
  margin-right: 10px;
}

.btn-newchat {
  background-color: #fef6e4;
  color: #7c5b70;
}

.btn-cats {
  background-color: #fef6e4;
  color: #7c5b70;
}


.css-10hburv-MuiTypography-root {
  color: #7c5b70;
  font-weight: 500 !important;
  letter-spacing: 5px;
}

.css-konndc-MuiListItemText-root {
  min-width: 140px !important;
}

.chat-wrap {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 215px;
  align-items: flex-start;
  border-bottom: 1px solid #bdbdbd;
}

.chat-wrap:nth-child(1) {
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn-remove {
  position: absolute;
  display: block;
  top: -10px;
  right: -32px;
  align-items: center;
  color: #d61212;
  font-size: 35px;
  cursor: pointer;
  padding: 0;
  transform: rotate(45deg);
  height: 23px;
  width: 23px;
}

.wrap-icons {
  display: flex;
  flex-direction: column;
}

.icon-open,
.icon-user {
  display: flex;
  cursor: pointer;
  color: #7c5b70;
}

.icon-open {
  margin-top: 25px;
}

.main .link {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .main {
    justify-content: center;
    padding: 20px;
  }
  .form {
    width: unset;
  }
}
